<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	
	<form action="/signin"  method="post">
		
		user name <input type="text" name="username"/> <br/>
		password   <input type="password" name="password" />
        <input type="submit" name="button"/>		
	</form>
    <br/>
	
	
  </body>
</html>