<html>
	<head>
		<title> printf()</title>
		<meta charset="utf-8"> 
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
		<script src="js/all.js"></script>
	</head>
	<body>
		<div class="container">
			
		</div>
	</body>
</html>