<html>
	<Head>
		<Title>Logout</title>
			<Body>
				<h1><center>Your Answers Has been Successfully Submitted</center></h1>
				<h2><center>Results Will Be Declared Soon</center></h2>
			</body>
	</Head>
</html>
